.main{
    background-image: url("../assets/Fondo\ 4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    &__titulo{
        color:red;
        font-size: 50px;
        font-family: 'Permanent Marker', cursive;
        padding: 170px 5px; 
        text-align: center;
        transition: 1s;
    }
    &__titulo:hover{
    color: blue;
    font-size: 55px;
    }
}
$redes: (
    facebook: #0000ff,
    instagram: #8a2be2
)
@each $red, $color in $redes {
    .#{$red} {
        background-color: #{$color};
    }
    
}


